<div class="container px-5 px-sm-0">
  <div style="text-align: right;">
    <%= link_to new_group_path do %>
      <button type="button" class="btn btn-outline-dark", style="margin-top:10px ">
        コミュニティを作成<i class="fa-solid fa-people-group mark"></i>
      </button>
    <% end %>
  </div>
  <div class="row">
    <div class="col-11 col-md-11 col-sm-11 mx-2 mx-auto px-0 my-5 list">
      <% groups.each do |group| %>
        <div class="group-card">
          <div class="card-img">
            <%= link_to group_path(group.id) do %>
              <%= image_tag group.get_image, class: "card-img" %>
            <% end %>
          </div>
          <div class="card-body">
            <div class="card-title">
              <%= truncate(group.name, length:15) %>
            </div>
            <div class="card-text">
              <strong><%= group.users.count %></strong>人が参加中
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
