<div class="container px-5 px-sm-0">
  <div style="text-align: right;">
    <%= link_to "グループを作成", new_group_path %>
  </div>
  <div class="row">
    <div class="mx-3"><h3 class="mb-3 mini-title">グループ一覧</h3></div>
    <div class="col-11 col-md-11 col-sm-11 mx-2 mx-sm-auto px-0 my-5">
      <% groups.each do |group| %>
        <div class="group-card">
          <div class="card-img">
            <%= link_to group, class: "group_#{group.id}" do %>
              <%= image_tag group.get_image, class: "card-img" %>
            <% end %>
          </div>
          <div class="card-body">
            <div class="card-title">
              <%= group.name %>
            </div>
            <div class="card-text">
              <%= group.users.count %>人が参加中
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
