<div class="container px-4">
  <div class="row">
    <div class="col-9 col-md-11 col-sm-11 mx-auto px-0 my-3">

      <div class="mx-2 mb-3">
        <h3 class="mini-title">
          ”<%= @group.name %>”(<%= @group_users.count %>)のメンバー
        </h3>
      </div>
      <%= link_to room_path(@group) do %>
        <i class="fa-solid fa-angle-left"></i>ルームに戻る
      <% end %>

      <% if @group_users.count >= 1 %>
        <table class="table table-hover table-inverse" style="border: 1px solid black; border-collapse: collapse;">
          <thead>
            <tr>
              <th colspan="4"></th>
            </tr>
          </thead>
          <tbody>
          <% @group_users.each do |user| %>
            <tr style="cursor: pointer" onclick="window.location.href='<%= user_path(user) %>'" onmouseover="this.style.backgroundColor='#dcdcdc'" onmouseout="this.style.backgroundColor='#fff'">
              <td width="15%">
                <%= image_tag user.get_profile_image, class: "rounded-circle icon-mini" %>
              </td>
              <td width="15%"><%= user.screen_name %></td>
              <td><%= truncate(user.introduction, length:25) %></td>
              <td width="25%"><%= render "public/relationships/btn", user: user %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% else %>
        <h4 class="text-center" style="margin-top: 30px">ユーザーがいません</h4>
      <% end %>

    </div>
  </div>
</div>
