<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="mx-3"><h3 class="mb-5 mini-title">グループ詳細</h3></div>
    <div class="col-10 col-md-10 col-sm-10 mx-2 mx-sm-auto px-0 my-5">
      <table class="table">
        <tr>
          <td></td>
          <td>
            <%= image_tag @group.get_image, class: "show-img" %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3">グループ名：<%= @group.name %></td>
        </tr>
        <tr>
        </tr>
        <tr>
          <td colspan="3">グループ紹介：<%= @group.introduction %></td>
        </tr>
        <tr>
          <td>グループ作成者:</td>
          <td>
            <%= link_to @group.owner do %>
              <%= image_tag @group.owner.get_profile_image, class: "rounded-circle icon-mini" %>
              <%= @group.owner.screen_name %>
            <% end %>
          </td>
          <td></td>
        </tr>
      </table>

      <% if @group.is_owned_by?(current_user) %>
        <%= link_to "グループを編集する", edit_group_path(@group) %>
      <% else %>
        <% if @group.includesUser?(current_user) %>
          <%= link_to "退会する", group_group_user_path(@group), method: :delete %>
          <p>チャット画面</p>
        <% else %>
          <%= link_to "参加する", group_group_user_path(@group), method: :post %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
