<div class="container px-2">
  <div class="row">
    <div class="col-10 col-md-10 col-sm-11 mx-auto px-0 my-2">
      <div class="mx-2 mb-5"></div>

      <table class="table">
        <tr>
          <td class="img" colspan="3">
            <%= image_tag @group.get_image, class: "show-img" %>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="explanation">コミュニティ名</div>
            <div class="info"><%= @group.name %></div>
          </td>
        </tr>
        <tr>
          <td colspan="3" height="80">
            <div class="explanation">コミュニティ紹介</div>
            <div class="info"  style="white-space: pre-line"><%= @group.introduction %></div>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="explanation">コミュニティ作成者</div>
            <div class="info">
              <%= link_to @group.owner, class: "text-dark" do %>
                <%= image_tag @group.owner.get_profile_image, class: "rounded-circle icon-mini" %>
                <%= @group.owner.screen_name %>
              <% end %>

              <% if @group.is_owned_by?(current_user) %>
                <div class="action text-right" style="margin-top: 0; padding-top: 0">
                  <%= link_to "コミュニティを編集", edit_group_path(@group), class: "btn btn-info btn-sm" %>
                </div>
              <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="explanation">参加者(<%= @group_users.count %>人)</div>
            <!-- 表示を20個に制限 -->
            <div class="info">
              <% @group_users.first(20).each do |user| %>
                <%= link_to user_path(user) do %>
                  <%= image_tag user.get_profile_image, class: "group-user-icon rounded-circle" %>
                <% end %>
              <% end %>
            </div>
          </td>
        </tr>
      </table>

      <div style="text-align: right">
        <% if @group.is_owned_by?(current_user) %>
          <%= link_to "チャット画面へ", room_path(@group), class: "btn btn-info" %>
        <% else %>
          <% if @group.includesUser?(current_user) %>
            <%= link_to "チャット画面へ", room_path(@group), class: "btn btn-info" %>
            <%= link_to "退会する", group_group_user_path(@group), method: :delete, data: {confirm: "退会してよろしいですか？"}, class: "btn btn-danger" %>
          <% else %>
            <%= link_to "参加する", group_group_user_path(@group), method: :post, data: {confirm: "コミュニティに参加しますか？"}, class: "btn btn-info" %>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>
