<div class="container px-5 px-sm-0">
  <div class="row">
    <h3 class="title">投稿詳細</h3>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td colspan="2">
              <%= image_tag @article.get_image, class: "my_page_img" %>
            </td>
          </tr>
          <tr>
            <td width="30%">投稿ID</td>
            <td><%= @article.id %></td>
          </tr>
          <tr>
            <td width="30%">投稿者（氏名）</td>
            <td><%= @article.user.name %></td>
          </tr>
          <tr>
            <td width="30%">投稿者（ニックネーム）</td>
            <td><%= @article.user.screen_name %></td>
          </tr>
          <tr>
            <td width="30%">記事のタイトル</td>
            <td><%= @article.title %></td>
          </tr>
          <tr>
            <td width="30%">記事の内容</td>
            <td><%= @article.body %></td>
          </tr>
          <tr>
            <td width="30%">投稿を削除</td>
            <td><%= link_to "投稿を削除", admin_article_path(@article), method: :delete, data: {confirm: "投稿を削除しますか？"}, class: "btn btn-danger" %></td>
          </tr>
        </tbody>
      </table>
      <div class="admin-comment">
        <h4>記事についたコメント</h4>
        <% @article.comments.each do |comment| %>
          <%= comment.user.name %>：
          <%= comment.comment %>
          <%= link_to "削除する", admin_article_comment_path(comment.article, comment), method: :delete, data: {confirm: "#{comment.user.name}さんのコメントを削除しますか？"} %><br>
        <% end %>
      </div>
    </div>
  </div>
</div>

