<div class="container px-3 px-sm-0">
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12 mx-auto px-0 my-5">
      <div class="mx-5 mb-5"><h3 class="mini-title">下書き一覧</h3></div>
      <% if @articles.present? %>
        <table class="table table-hover table-inverse my-page">
          <% @articles.each do |article| %>
          <tr>
            <td width="10%">
              <%= image_tag article.get_image, class: "posting-img" %>
            </td>
            <td>
              <!-- 15文字まで表示させる -->
              <strong><%= truncate(article.title, length:15) %></strong>
            </td>
            <td width="15%"><%= link_to "編集", edit_article_path(article), class: "btn btn-info" %></td>
            <td width="15%"><%= link_to "削除", article_path(article), method: :delete, data: {confirm: "下書きを削除しますか？"}, class: "btn btn-danger" %></td>
            <td width="17%"><%= "#{time_ago_in_words(article.updated_at)}前" %></td>
          </tr>
          <% end %>
        </table>
      <% else %>
        <h4 class="text-center" style="margin-top: 30px">下書きはありません</h4>
      <% end %>
    </div>
  </div>
</div>
