<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="mx-3"><h3 class="mb-5 mini-title">投稿編集</h3></div>
    <div class="col-10 col-md-10 col-sm-10 mx-2 mx-sm-auto px-0 my-5">
        <div class="img">
          <p>投稿されている画像</p>
          <%= image_tag @article.get_image, class: "show-img" %>
        </div>

      <%= form_with model: @article, local: true do |f| %>
        <div class="form-group">
          <%= f.label :image, "変更する画像" %><br>
          <%= f.file_field :image, class: "edit" %>
        </div>

        <div class="form-group">
          <%= f.label :title, "タイトル" %><br>
          <%= f.text_field :title, class: "form" %>
        </div>

        <div class="form-group">
          <%= f.label :body, "記事の内容" %>
          <%= f.rich_text_area :body, class: "form-body" %>
        </div>

        <div class="form-group">
          <%= f.label "Tag (、を入力することで複数タグが付きます。)" %><br>
          <%= f.text_field :tag_name, class: "form" %>
        </div>

        <% if @article.is_draft == true %>
        <div class="actions">
          <%= f.submit "下書きを更新", :name => "update_draft", class: "btn btn-light" %>
          <%= f.submit "投稿", :name => "publicize_draft", class: "btn btn-info" %>
        </div>
        <% else %>
        <div class="actions">
          <%= link_to "キャンセル", article_path(@article), class: "btn btn-light" %>
          <%= f.submit "投稿を更新", :name => "update_post", class: "btn btn-info" %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
