<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="mx-5"><h3 class="mb-4 mini-title">新規投稿</h3></div>
    <div class="col-10 col-md-10 col-sm-10 mx-2 mx-sm-auto px-0 my-5">
      <%= form_with model: @article, local: true do |f| %>
        <div class="form-group">
          <%= f.label :image, "画像" %><br>
          <%= f.file_field :image, class: "" %>
        </div>
        <div class="form-group">
          <%= f.label :title, "タイトル" %><br>
          <%= f.text_field :title, class: "form" %>
        </div>
        <div class="form-group">
          <%= f.label :body, "記事の内容" %>
          <%= f.rich_text_area :body, rows: 50, class: "form-body" %>
        </div>
        <div class="form-group">
          <%= f.label "Tag (、を入力することで複数タグが付きます。)" %><br>
          <%= f.text_field :tag_name, class: "form" %>
        </div>
        <div class="actions">
          <%= f.submit "下書きに保存する", :name => "draft", class: "" %>
          <%= f.submit "投稿する", :name => "post", class: "" %>
        </div>
      <% end %>

      <table class="table">
        <% @articles.each do |article| %>
        <tr>
          <td>
            <%= image_tag article.get_image, class: "posting-img" %>
          </td>
          <td><%= article.title %></td>
          <td><%= article.created_at.strftime("%Y-%m-%d") %></td>
          <td><%= link_to "編集", edit_article_path(article) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
