<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="mx-2"><h3 class="mb-4 mini-title">公開された記事</h3></div>
    <div class="col-10 col-md-9 col-sm-10 mx-2 mx-sm-auto px-0 my-2">
      <table class="table">
        <tr>
          <td class="img-position" colspan="3"><%= image_tag @article.get_image, class: "show-img" %></td>
        </tr>
        <tr>
          <td class="title" colspan="3"><%= @article.title %></td>
        </tr>
        <tr>
          <td class="body" colspan="3"><%= @article.body %></td>
        </tr>
        <tr>
          <td colspan="3"><i class="fa-solid fa-tags mark"></i>
            <% @article_tags.each do |tag| %>
              <%= link_to tag_search_path(tag_id: tag.id), class: "text-dark" do %>
                <button type="button" class="btn btn-outline-dark">
                  <i class="fa-solid fa-tag"></i>
                  <%= tag.name %>
                </button>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td id="like_buttons_<%= @article.id %>">
            <%= render "public/likes/btn", article: @article %>
          </td>
          <td class="comments-counter">
            <%= render "public/comments/counter", article: @article %>
          </td>
          <td>
            <% if @article.user == current_user %>
              <%= link_to "編集", edit_article_path(@article), class: "btn btn-info" %>
              <%= link_to "削除", article_path, method: :delete, data: { confirm: "本当に削除しますか？"}, class: "btn btn-danger" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <%= link_to @article.user do %>
              <%= image_tag @article.user.get_profile_image, class: "icon rounded-circle" %>
              <id class="text-dark"><%= @article.user.screen_name %></id>
            <% end %>
          </td>
          <td width="45%">
            <%= @article.updated_at.strftime("%Y年%m月%d日 %H:%M") %>投稿
          </td>
        </tr>
      </table>
      <button id="switch_btn" class=" btn btn-info">コメント一覧を表示</button>
      <div id="search_field" style="display: none;">
        <div id="comments-index">
          <%= render "public/comments/index", article: @article %>
        </div>
      </div>
      <div class="comments-form" style="text-align: right;">
        <%= render "public/comments/form", article: @article, comment: @comment %>
      </div>
    </div>
  </div>
</div>

