<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="mx-3"><h3 class="mb-5 mini-title">新規登録</h3></div>
    <div class="col-10 col-md-10 col-sm-10 mx-2 mx-sm-auto px-0 my-5">

      <%= form_with model: @user, url: registration_path(resource_name) do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :name, "名前" %><br>
          <%= f.text_field :name, placeholder: "本名", autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :screen_name, "ニックネーム" %><br>
          <%= f.text_field :screen_name, placeholder: "サイト上ではニックネームが表示されます" %>
        </div>

        <div class="field">
          <%= f.label :email, "メールアドレス" %><br>
          <%= f.email_field :email, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "パスワード（確認用）" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録" %>
        </div>
      <% end %>

      <%= render "public/shared/links" %>

    </div>
  </div>
</div>
