<div class="container px-3">
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12 mx-auto px-0 my-5">
    <div class="mx-3"><h3 class="mb-4 mini-title">コミュニティ一覧</h3></div>

      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>ID</th>
            <th>コミュニティ名</th>
            <th style="text-align: left">参加人数</th>
            <th>オーナー</th>
            <th>作成日</th>
          </tr>
        </thead>
        <tbody>
        <% groups.each do |group| %>
          <tr style="cursor: pointer" onclick="window.location.href='<%= admin_group_path(group) %>'" onmouseover="this.style.backgroundColor='#dcdcdc'" onmouseout="this.style.backgroundColor='#fff'">
            <td><%= group.id %></td>
            <td><%= group.name %></td>
            <td><%= group.users.count %></td>
            <td><%= group.owner.screen_name %></td>
            <td><%= group.created_at.strftime("%Y年%m月%d日") %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
