<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="mx-3"><h3 class="mb-4 mini-title">コミュニティ一覧</h3></div>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>ID</th>
          <th>コミュニティ名</th>
          <th style="text-align: left">参加人数</th>
          <th>オーナー</th>
          <th>詳細</th>
          <th style="text-align: center">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
        <tr>
          <td><%= group.id %></td>
          <td><%= group.name %></td>
          <td><%= group.users.count %></td>
          <td><%= group.owner.name %></td>
          <td><%= link_to "詳細", admin_group_path(@group),  %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>