<div class="container px-3">
  <div class="row">
    <div class="col-11 col-md-11 col-sm-11 mx-auto px-0 my-5">
    <div class="mx-3 mb-4"><h3 class="mini-title">コミュニティ詳細</h3></div>

      <table class="table table-borderless">
        <tr>
          <td class="text-center">
            <%= image_tag @group.get_image, class: "my_page_img" %>
          </td>
        </tr>
        <tr>
          <td>
            <div class="explanation">コミュニティID</div>
            <div class="info"><%= @group.id %></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="explanation">コミュニティ名</div>
            <div class="info"><%= @group.name %></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="explanation">コミュニティ説明</div>
            <div class="info" style="white-space: pre-line;"><%= @group.introduction %></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="explanation">コミュニティオーナー</div>
            <div class="info">
              <%= link_to admin_user_path(@group.owner) do %>
                <%= @group.owner.name %>
              <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="explanation">参加人数</div>
            <div class="info"><%= @group.users.count %></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="explanation">
              <%= link_to "コミュニティを削除", admin_group_path, method: :delete, data: {confirm: "コミュニティを削除しますか？"}, class: "btn btn-danger" %>
              <%= link_to "チャットへ", admin_room_path, class: "btn btn-info" %>
            </div>
          </td>
        </tr>
      </table>

    </div>
  </div>
</div>

