<div class="container px-3">
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12 mx-auto px-0 my-5">
    <div class="mx-3"><h3 class="mb-4 mini-title">ユーザー一覧</h3></div>

      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th width="10%">会員ID</th>
            <th>氏名</th>
            <th>ニックネーム</th>
            <th>メールアドレス</th>
            <th width="10%">詳細</th>
            <th style="text-align: center">状態</th>
          </tr>
        </thead>
        <tbody>
        <% users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= truncate(user.screen_name, length:10) %></td>
            <td><%= user.email %></td>
            <td><%= link_to "詳細", admin_user_path(user), class: "btn btn-info btn-sm" %></td>
            <td style="text-align: center">
              <% if user.active_for_authentication? %>
                <b class="text-success">有効</b>
              <% else %>
                <b class="text-danger">退会</b>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
