<div class="container px-3">
  <div class="row">
    <div class="col-11 col-md-11 col-sm-11 mx-auto px-0 my-5">
    <div class="mx-3"><h3 class="mb-4 mini-title">”<%= @user.name %>”さんの登録情報</h3></div>

      <table class="table table-borderless">
        <tbody>
          <tr>
            <td colspan="2" style="text-align: center">
              <%= image_tag @user.get_profile_image, class: "my_page_img rounded-circle" %>
            </td>
          </tr>
          <tr>
            <td>
              <div class="explanation">会員ID</div>
              <div class="info"><%= @user.id %></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="explanation">氏名</div>
              <div class="info"><%= @user.name %></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="explanation">ニックネーム</div>
              <div class="info"><%= @user.screen_name %></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="explanation">メールアドレス</div>
              <div class="info"><%= @user.email %></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="explanation">自己紹介</div>
              <div class="info" style="white-space: pre-wrap"><%= @user.introduction %></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="explanation">会員ステータス</div>
              <div class="info">
                <% if @user.active_for_authentication? %>
                  <strong class="text-success">有効</strong>
                <% else %>
                  <strong class="text-danger">退会</strong>
                <% end %>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="edit">
        <%= link_to "編集する", edit_admin_user_path(@user), class: "btn btn-info" %>
      </div>

    </div>
  </div>
</div>

