<% visiter = notification.visiter %>
<% visited = notification.visited %>

<table class="table">
  <tr>
    <%= image_tag visiter.get_profile_image, class: "icon-mini rounded-circle" %>
    <%= link_to user_path(visiter), class: "text-dark", style: "text-decoration:underline" do %>
      <%= visiter.screen_name %> さん
    <% end %>が
    <% case notification.action %>
      <% when "comment" %>
        <%= link_to "あなたの投稿", notification.article, class: "text-dark", style: "text-decoration:underline" %>
          にコメントをしました<%= " (#{time_ago_in_words(notification.created_at)}前)" %>
      <% when "like" %>
        <%= link_to "あなたの投稿", notification.article, class: "text-dark", style: "text-decoration:underline" %>
          にいいね!しました<%= " (#{time_ago_in_words(notification.created_at)}前)" %>
      <% when "follow" %>
        あなたをフォローしました<%= " (#{time_ago_in_words(notification.created_at)}前)" %>
    <% end %>
  </tr>
</table>
