<div class="container px-1">
  <div class="row">

    <table class="table table-hover table-inverse" style="margin-top: 15px">
    <% like_articles.each do |article| %>
      <tr>
        <td width="10%">
          <%= image_tag article.get_image, class: "posting-img" %>
        </td>
        <td width="50%"><%= truncate(article.title, length:25) %></td>
        <td width="13%">
          <%= link_to article_path(article), class: "text-dark" do %>
            <button type="button" class="btn btn-outline-dark">詳細</button>
          <% end %>
        </td>
        <td class="text-center" width="23%">
          <%= link_to article.user do %>
            <%= image_tag article.user.get_profile_image, class: "icon-mini rounded-circle text-center" %><br>
          <% end %>
          <!-- likeを指定していいねした時間を表示させる -->
          <% like = Like.find_by(user_id: current_user.id, article_id: article.id) %>
          <%= "#{time_ago_in_words(like.created_at)}前" %>
        </td>
      </tr>
    <% end %>
    </table>

  </div>
</div>
