<div class="container px-3 px-sm-0">
  <div class="row">
    <div class="col-10 col-md-10 col-sm-10 mx-2 mx-auto px-0 my-5">
      <div class="mx-1"><h3 class="mb-5 mini-title">プロフィール編集</h3></div>
      <%#= render "layouts/errors", obj: @user %>

      <%= form_with model: @user, local: true do |f| %>
        <div class="text-center mt-3">
          <%= f.label :登録中の画像 %><br>
          <%= image_tag @user.get_profile_image, class: "my_page_img rounded-circle" %>
        </div>
        <div class="form-group">
          <%= f.label :変更する画像 %><br>
          <%= f.file_field :profile_image, accept: "image/*" %>
        </div>
        <div class="form-group">
          <%= f.label :screen_name, "ニックネーム" %><br>
          <%= f.text_field :screen_name, class: "form form-control" %>
          <% if @user.errors.include?(:screen_name) %>
            <p style="color: red;"><%= @user.errors.full_messages_for(:screen_name).first %>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.label :email, "メールアドレス" %><br>
          <%= f.text_field :email, class: "form form-control" %>
          <% if @user.errors.include?(:email) %>
            <p style="color: red;"><%= @user.errors.full_messages_for(:email).first %>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.label :introduction, "自己紹介" %><br>
          <%= f.text_area :introduction, class: "form-content-info form-control js-introduction" %>
          <p class="js-introduction-count text-right"></p>
        </div>
        <div class="actions">
          <%= link_to "退会", unsubscribe_path, class: "btn btn-danger" %>
          <%= link_to "キャンセル", user_path(current_user), class: "btn btn-light back" %>
          <%= f.submit "変更する", class: "btn btn-info" %>
        </div>
      <% end %>

    </div>
  </div>
</div>