<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="mx-3"><h3 class="mb-5 mini-title">マイページ</h3></div>
    <div class="col-10 col-md-10 col-sm-10 mx-2 mx-sm-auto px-0 my-5">
      <table>
        <tr>
          <td><%= image_tag @user.get_profile_image, class: "my__page_img rounded-circle" %></td>
        </tr>
        <tr>
          <td><%= @user.screen_name %></td>
          <td>
            <% if @user.screen_name != "guest" %>
              <p><%= render "public/relationships/btn", user: @user %></p>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= @user.introduction %></td>
          <td>
            <% if @user == current_user %>
              <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary btn-block" do %>
                <i class="fas fa-sign-out-alt"></i>ログアウト
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to user_followings_path(@user) do %>
              <strong><%= @user.followings.count %></strong>フォロー
            <% end %>
            <%= link_to user_followers_path(@user) do %>
              <strong><%= @user.followers.count %></strong>フォロワー
            <% end %>
          </td>
        </tr>
      </table>

      <ul class="nav nav-tabs" id="tabs">
        <li class="tab tab-active">投稿一覧</li>
        <li class="tab">いいねした投稿一覧</li>
        <li class="tab">〇〇</li>
      </ul>
      <!--タブで選択された要素部分-->
      <div class="tabbox-contents">
        <div class="tabbox box-show">
          <%= render "public/users/article_index", user: @user %>
        </div>
        <div class="tabbox">
          <%= render "public/users/like", user: @user %>
        </div>
        <div class="tabbox">
          <%= render "public/users/like", user: @user %>
        </div>
      </div>

    </div>
  </div>
</div>

